{% extends "base.html" %}
{% load static %}

{% block title %} Entrada/Saída {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
        <div class="py-4">
            <div class="d-flex align-items-center">
                <div class="justify-content-between">
                    {% include 'operation/cria_operacao.html' %}
                    <button type="button" class="btn btn-gray-800 d-inline-flex align-items-center me-2" data-bs-toggle="modal" data-bs-target="#criaoperacao">
                        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                        Adicionar E/S
                    </button>
                    <div id="reportrange" class="btn btn-gray-800 d-inline-flex align-items-center me-2">
                        <span></span><b class="caret"></b>
                    </div>
                </div>
                <div class="justify-content-between w-50">
                    <div class="input-group input-group-merge search-bar">
                        <span class="input-group-text">
                            <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <input type="text" id="search" name="search" class="form-control" placeholder="Buscar operações" aria-controls="operacoes" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-0 shadow mb-4">
            <div class="card-header d-sm-flex flex-row align-items-center flex-0">
                <div class="d-block mb-3 mb-sm-0">
                    <div class="fs-5 fw-normal mb-2">Operações</div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0 rounded" id="operacoes" style="width:100%;">
                        <thead class="thead-light">
                            <th class="border-0 rounded-start" hidden>#</th>
                            <th class="border-0" style='width: 5%'>Operação</th>
                            <th class="border-0" style='width: 40%'>Descrição</th>
                            <th class="border-0" style='width: 5%'>Data</th>
                            <th class="border-0" style='width: 5%'>R$</th>
                            <th class="border-0" style='width: 5%'>Anexos</th>
                            <th class="border-0 rounded-end" style='width: 5%'>Ações</th>
                        </thead>
                        <tbody>
                            {% if operacoes %}
                                {% for operacao in operacoes %}
                                <tr>
                                    <td class="border-0" hidden>{{ operacao.id }}</td>
                                    <td class="border-0 {% if operacao.tipo_operacao == 'ENT' %} text-success {% else %} text-danger {% endif %}">
                                        <div class="d-flex align-items-center">
                                            {% if operacao.tipo_operacao == 'ENT' %}
                                                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                                            {% else %}
                                                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="border-0">
                                        <div><span class="h6">{{ operacao.descricao }}</span></div>
                                    </td>
                                    <td class="border-0 fw-bold">
                                        <div><span class="h6">{{ operacao.data_operacao|date:'d/m/Y' }}</span></div>
                                    </td>
                                    <td class="border-0 fw-bold {% if operacao.tipo_operacao == 'ENT' %} text-success {% else %} text-danger {% endif %}">
                                        <div><span class="h6">R$ {{ operacao.valor }}</span></div>
                                    </td>
                                    <td class="border-0">
                                        <div class="d-flex align-items-center">
                                            <a class="btn btn-secondary" href="{{ operacao.anexo.url }}" type="button" title="Anexo" data-toggle="tooltip" download>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                                                    <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
                                                </svg>
                                            </a>
                                        </div> 
                                    </td>
                                    <td class="border-0">
                                        <div class="d-flex align-items-center">
                                            <div class="row">
                                                <div class="col-3">
                                                    {% include 'operation/edita_operacao.html' %}
                                                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#editaoperacao{{ operacao.id }}" title="Editar" data-toggle="tooltip">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                                                        </svg>
                                                    </button>
                                                    {% include 'operation/consulta_operacao.html' %}
                                                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#consultaoperacao{{ operacao.id }}" title="Consultar" data-toggle="tooltip">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard2-fill" viewBox="0 0 16 16">
                                                            <path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5h3Z"/>
                                                            <path d="M3.5 1h.585A1.498 1.498 0 0 0 4 1.5V2a1.5 1.5 0 0 0 1.5 1.5h5A1.5 1.5 0 0 0 12 2v-.5c0-.175-.03-.344-.085-.5h.585A1.5 1.5 0 0 1 14 2.5v12a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-12A1.5 1.5 0 0 1 3.5 1Z"/>
                                                        </svg>
                                                    </button>
                                                    <a class="btn btn-danger" href="{% url 'deletaoperacao' operacao.id %}" type="button" title="Apagar" data-toggle="tooltip"> 
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div> 
                                    </td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <!-- Mensagens -->
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <script>
                    var m = "{{ message }}";
                    swal("Perfeito!", m, "success")
                </script>
            {% endif %}
        {% endfor %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
        <script type="text/javascript" src="{% static 'assets/js/operacao.js' %}"></script>
        <script>
            $('.dropify').dropify({
                // default file for the file input
                defaultFile: '',

                // max file size allowed
                maxFileSize: 0,

                // custom messages
                messages: {
                    'default': 'Arraste e solte um arquivo aqui ou clique',
                    'replace': 'Arraste e solte ou clique para substituir',
                    'remove':  'Apagar',
                    'error':   'Desculpe, este arquivo é muito grande'
                },
            });
        </script>
{% endblock javascripts %}