{% extends "base.html" %}
{% load static %}

{% block title %} Dashboard {% endblock %}
{% block title-navbar %}<h3>Dashboard</h3>{% endblock title-navbar %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!--[ daily sales section ] start-->
                                <div class="row">
                                    <div class="col-xl-12 col-md-12">
                                        <div class="card ">
                                            <div class="card-header">
                                                <h5>Imóveis</h5>
                                            </div>
                                            <div class="card-block">
                                                <div id="map" style="width:100%; height:700px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}
{% block scripts %}
        <script type="text/javascript" src="{% static 'js/imoveis/imoveis.js' %}"></script>
        <script>
            var properties = [
                {
                    name: "Casa 1",
                    location: [-19.680375423965334, -44.8893864946182],
                    price: 500000
                },
                {
                    name: "Casa 2",
                    location: [-19.68180851208734, -44.888269745480905],
                    price: 600000
                },
                {
                    name: "Casa 3",
                    location: [-19.67983128985573, -44.901269188937405],
                    price: 700000
                },
            ];

            properties.forEach(function(property) {
                var marker = L.marker(property.location).addTo(map);
                marker.bindPopup("<b>" + property.name + "</b><br>Preço: " + property.price);
            });
        </script>
{% endblock %}