        {% load static %}
        <!-- Core -->
        <script type="text/javascript" src="{% static 'assets/vendor/@popperjs/core/dist/umd/popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>

        <!-- Vendor JS -->
        <script type="text/javascript" src="{% static 'assets/vendor/onscreen/dist/on-screen.umd.min.js' %}"></script>

        <!-- Slider -->
        <script type="text/javascript" src="{% static 'assets/vendor/nouislider/distribute/nouislider.min.js' %}"></script>

        <!-- Smooth scroll -->
        <script type="text/javascript" src="{% static 'assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>

        <!-- Charts -->
        <script type="text/javascript" src="{% static 'assets/vendor/chartist/dist/chartist.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>

        <!-- Sweet Alerts 2 -->
        <script type="text/javascript" src="{% static 'assets/vendor/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>

        <!-- DataTables -->
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.1/af-2.5.1/datatables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

        <!-- Moment -->
        <script type="text/javascript" src="{% static 'assets/js/moment/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/moment/moment-with-locales.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/daterangepicker/daterangepicker.js' %}"></script>

        <!-- Máscara do Input -->
        <script type="text/javascript" src="{% static 'assets/js/jquerymask/jquery.mask.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/jquerymask/jquery.mask.min.js' %}"></script>

        <!-- Vanilla JS Datepicker -->
        <script type="text/javascript" src="{% static 'assets/vendor/vanillajs-datepicker/dist/js/datepicker.min.js' %}"></script>

        <!-- Notyf -->
        <script type="text/javascript" src="{% static 'assets/vendor/notyf/notyf.min.js' %}"></script>

        <!-- Simplebar -->
        <script type="text/javascript" src="{% static 'assets/vendor/simplebar/dist/simplebar.min.js' %}"></script>

        <!-- Github buttons -->
        <script type="text/javascript" async defer src="https://buttons.github.io/buttons.js"></script>

        <!-- Volt JS -->
        <script type="text/javascript" src="{% static 'assets/js/volt.js' %}"></script>

        <!-- Dropify -->
        <script type="text/javascript" src="{% static 'assets/js/dropify.min.js' %}"></script>

        <!-- Leaflet -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
	
