{% extends 'base.html' %}
{% load static %}

{% block title %} Cliente {% endblock %}
{% block title-navbar %}<h3>Imóveis</h3>{% endblock title-navbar %}

{% block content %}

<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!--Card com os totais-->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- Datatable -->
                        <div class="card">
                            <div class="card-header">
                                {% block page-title %}
                                <h5><i class="bi bi-plus-slash-minus"></i>&nbsp;&nbsp; Cadastro </h5>
					            {% endblock page-title %}
                            </div>
                            <div class="card-block">
                                <form method="POST" {% block action %} action="{% url 'criaimoveis' %}" {% endblock action %} enctype="multipart/form-data" autocomplete="off">
                                    {% csrf_token %}
                                    <!-- ========= Block ID (Root) ========= -->
                                    {% block Value-id %}  {% endblock Value-id %}
                                    <div class='row'>
                                        <div class="col-md-6"> 
                                            <div class="form-group">
                                                <label for="categoria">Tipo Imóvel</label>
                                                {% block option-tipo_imovel %}
                                                <select id="tipo_imovel" name="tipo_imovel" class="form-control" required>
                                                    <option selected hidden>Escolha...</option>
                                                    <option value='CS'>Casa</option>
                                                    <option value='AP'>Apartamento</option>
                                                    <option value='TR'>Terreno</option>
                                                    <option value='GL'>Galpão</option>
                                                    <option value='IN'>Industria</option>
                                                    <option value='RU'>Rural</option>
                                                </select>
                                                {% endblock option-tipo_imovel %}
                                            </div>
                                        </div>
                                        <div class="col-md-6"> 
                                            <div class="form-group">
                                                <label for="cliente">Cliente</label>
                                                <select id="cliente" name="cliente" class="form-control" required>
                                                    <option selected hidden>Escolha...</option>
                                                    {% if clientes %}
                                                        {% for cliente in clientes %}
                                                            <option value="{{cliente.id}}">{{cliente.nomecliente}}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-header">
                                        <h5>Opções</h5>
                                    </div>
                                    <div class="card-block">
                                        <div class="row">
                                            {% block opcoes %}
                                            <div class="col-md-1">
                                                <div class="form-group form-check">
                                                    <input type="checkbox" id="aluguel" name="aluguel" class="form-check-input" {% block aluguel %} {% endblock aluguel %}>
                                                    <label class="form-check-label" for="aluguel">Aluguel</label>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group form-check">
                                                    <input type="checkbox" id="compra" name="compra" class="form-check-input" {% block compra %} {% endblock compra %}>
                                                    <label class="form-check-label" for="compra">Compra</label>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group form-check">
                                                    <input type="checkbox" id="venda" name="venda" class="form-check-input" {% block venda %} {% endblock venda %}>
                                                    <label class="form-check-label" for="venda">Venda</label>
                                                </div>
                                            </div>
                                            {% endblock opcoes %}
                                        </div>
                                    </div>
                                    <div class="card-header">
                                        <h5>Caracteristicas do Imóvel</h5>
                                    </div>
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-md-2"> 
                                                <div class="form-group">
                                                    <label for="preco">Preço</label>
                                                    <input type="number" step="0.01" id="preco" name="preco" class="form-control" required {% block preco %} {% endblock preco %}/>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="nquartos">Nº Quartos</label>
                                                    <input type="number" id="nquartos" name="nquartos" class="form-control" {% block nquartos %} {% endblock nquartos %}/>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="nbanheiros">Nº Banheiros</label>
                                                    <input type="number" id="nbanheiros" name="nbanheiros" class="form-control" {% block nbanheiros %} {% endblock nbanheiros %}/>
                                                </div>
                                            </div>
                                            <div class="col-md-2"> 
                                                <div class="form-group">
                                                    <label for="areatotal">Área Total: m²</label>
                                                    <input type="number" step="0.01" id="areatotal" name="areatotal" class="form-control" {% block areatotal %} {% endblock areatotal %}/>
                                                </div>
                                            </div>
                                            <div class="col-md-2"> 
                                                <div class="form-group">
                                                    <label for="areaconstruida">Área Construida: m²</label>
                                                    <input type="number" step="0.01" id="areaconstruida" name="areaconstruida" class="form-control" {% block areaconstruida %} {% endblock areaconstruida %}/>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="nvagasgaragem">Nº de Vagas de Garagem</label>
                                                    <input type="number" id="nvagasgaragem" name="nvagasgaragem" class="form-control" {% block nvagasgaragem %} {% endblock nvagasgaragem %}/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="capa">Imagem de Capa</label>
                                                    <input type="file" id="capa" name="capa" class="form-control dropify" data-max-file-size="30M" required {% block capa %} {% endblock capa %}/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-header">
                                        <h5>Endereço</h5>
                                    </div>
                                    <div class="card-block">
                                        <div class='row'>
                                            <div class='col-md-2'>
                                                <div class="form-group">
                                                    <label for="latitude">CEP</label>
                                                    <input type="text" id="cep" name="cep" class="form-control" placeholder="00000-000" required {% block cep %} {% endblock cep %}>
                                                </div>
                                            </div>
                                            <div class="col-md-2"> 
                                                <div class="form-group">
                                                    <label for="latitude">Latitude</label>
                                                    <input type="number" step="0.0000000000000001" id="latitude" name="latitude" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required {% block latitude %} {% endblock latitude %}/>
                                                </div>
                                            </div>
                                            <div class="col-md-2"> 
                                                <div class="form-group">
                                                    <label for="longitude">Longitude</label>
                                                    <input type="number" step="0.0000000000000001" id="longitude" name="longitude" class="form-control" required {% block longitude %} {% endblock longitude %}/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class='col-md-12'>
                                                <div class="form-group">
                                                    <label for="logradouro">Logradouro</label>
                                                    <input type="text" id="logradouro" name="logradouro" class="form-control" required {% block logradouro %} {% endblock logradouro %}/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-md-3'>
                                                <div class="form-group">
                                                    <label for="numero">Número</label>
                                                    <input type="number" id="numero" name="numero" class="form-control" required {% block numero %} {% endblock numero %}/>
                                                </div>
                                            </div>
                                            <div class='col-md-3'>
                                                <div class="form-group">
                                                    <label for="bairro">Bairro</label>
                                                    <input type="text" id="bairro" name="bairro" class="form-control" required {% block bairro %} {% endblock bairro %}/>
                                                </div>
                                            </div>
                                            <div class='col-md-3'>
                                                <div class="form-group">
                                                    <label for="cidade">Cidade</label>
                                                    <input type="text" id="cidade" name="cidade" class="form-control" required {% block cidade %} {% endblock cidade %}/>
                                                </div>
                                            </div>
                                            <div class='col-md-3'>
                                                <div class="form-group">
                                                    <label for="estado">Estado</label>
                                                    <input type="text" id="estado" name="estado" class="form-control" required {% block estado %} {% endblock estado %}/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-md-12'>
                                                <div class="form-group ">
                                                    <label for="complemento">Complemento</label>
                                                    <input type="text" id="complemento" name="complemento" class="form-control" {% block complemento %} {% endblock complemento %}/>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class='row'>
                                            <div class='col-md-12'>
                                                <div class="form-group">
                                                    <label for="descricao">Descrição</label>
                                                    <textarea id="descricao" name="descricao" class="form-control" rows="5" {% block descricao %} {% endblock descricao %}></textarea>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="card-header">
                                        <h5>Demais Imagens</h5>
                                    </div>
                                    <div class="card-block">
                                        <div class='row'>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="imagens">Imagens</label>
                                                    <input type="file" id="imagens" name="imagens" class="form-control dropify" data-max-file-size="30M" multiple required {% block imagens %} {% endblock imagens %}/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4">
                                        <button type="submit" class="btn btn-success" title="Incluir" data-toggle="tooltip">
                                            <div class='text-center'>
                                                <i class="bi bi-plus"></i>
                                            </div>
                                        </button>
                                        <button type="reset" class="btn btn-info" title="Recarregar" data-toggle="tooltip">
                                            <div class='text-center'>
                                                <i class="bi bi-arrow-repeat"></i>
                                            </div>
                                        </button>
                                        <a class="btn btn-warning" href="{% url 'imoveis' %}" type="button" title="Retornar" data-toggle="tooltip">
                                            <div class='text-center'>
                                                <i class="bi bi-arrow-return-left"></i>
                                            </div>
                                        </a>
                                    </div>
                                </form> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% for message in messages %}
    {% if message.tags == 'success' %}
        <!-- Mensagens -->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            var m = "{{ message }}";
            swal("Perfeito!", m, "success")
        </script>
    {% endif %}
{% endfor %}
{% endblock %}
{% block scripts %}
        <script type="text/javascript" src="{% static 'js/imoveis/criaimoveis.js' %}"></script>
{% endblock %}