{% extends "base-fullscreen.html" %}
{% load static %}

{% block title %} Alteração de Senha {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <section class="bg-white vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="{% static 'img/bg-img/Logo.png' %}" class="img-fluid" alt="Sample image">
                    </div>
                    <div class="border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <br />
                            <p>
                                {% if msg %}
                                    {% include 'partials/_alertas.html' %}
                                {% endif %}                                     
                            </p> 
                        </div>
                        <span><h4>Precisa de uma nova senha?</h4></span>
                        <span>Para atualizar sua senha, informe abaixo o e-mail que você utiliza para acessar o sistema</span>
                        <form method="POST" action="{% url 'reset' %}" class="mt-4">
                            {% csrf_token %}
                            <div class="form-group mb-4">
                                <label for="email">E-mail</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">
                                        <span class="fas fa-envelope"></span>
                                    </span>
                                    <input type="text" id="email" name="email" class="form-control form-control-lg" placeholder="Ex.: rangel.braga@email.com" required/>
                                </div>  
                                <span class="text-error">{{ form.email.errors }}</span>
                            </div>
                            <div class="d-grid">
                                <button type="submit" name="register" class="btn btn-gray-800">Enviar</button>
                            </div>
                        </form>
                        <div class="d-flex justify-content-center align-items-center mt-4">
                            <span class="fw-normal">
                                <a href="{% url 'login' %}" class="fw-bold">Voltar</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
